/*****************************************************************************
*  CSS stylesheet for CPU.hmtl
*
*
* Author: Dennis Grellmann
*****************************************************************************/


header img {
    float: left;
    width: 50%;
    padding: 1.6rem;
    height: 40rem;
}

#CPUreadmore {
    float: right;
    width: 30%;
}

/*Article Body*/
article {
    padding-right: 1.6rem;
}

#CPUTitle {
    position: relative;
    padding-bottom:30%;
}

/*Division*/
hr.Divider {
    border-top: 0.3rem solid #808080;
}

/*Bottom Image*/
#CPUimage2 {
    float: left;
    width: 50%;
    padding: 1.6rem;
    height: 80%;
}