header img {
    float: left;
    width: 50%;
    padding: 1.6rem;
    height: 40rem;
}

#Cyclereadmore {
    float: right;
    width: 30%;
}

article {
    padding-right: 1.6rem;
}

#CycleTitle {
    position: relative;
    padding-bottom:30%;
}

/*Division*/
hr.Divider {
    border-top: 0.3rem solid #808080;
}

article img {
    float: left;
    width: 50%;
    padding: 1.6rem;
    height: 80%;
}

.CycleList {
    font-size: 130%;
    font-family: 'TT Chocolates';
    position: relative;
    left: 1.6rem;
}