/*****************************************************************************
*  Main CSS stylesheet 
*
*
* Author: Dennis Grellmann
* Created: 14/5
*****************************************************************************/

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
/* font-family: 'DM Sans', sans-serif; */
                                                

@import url('https://fonts.cdnfonts.com/css/tt-chocolates');
/* font-family: 'TT Chocolates', sans-serif; */

body {
    background-color: #a5a5a5;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Navigation_Bar */

nav {
    background-color: #737373;
    height: 120px;
    position:relative;
    display: block;
    font-family: 'DM Sans';
}

/* Remove_Points */
nav ul {
    list-style: none;
}

/*Main Logo*/
#Logo {
    max-width:85px;
    padding-left: 20px;
    padding-top: 5px;
    height: auto;
}

/*Nav Text*/
.NavRight {
    float:right;
}

.NavRight a {
    text-decoration: none;
    color: black;
    padding: 1vw;
    display:  inline-block;
    text-align: center;
    border-radius: 15px;
}

.NavRight a:hover {
    background-color: #808080;
}

/*Links to pages*/
#LinkZero, #LinkOne, #LinkTwo, #LinkThree, #LinkFour, #LinkFive, #LinkSix {
    position: relative;
    top: -90px;  
}


/*Universal*/
h1 {
    font-family: 'DM Sans';
    padding-top: 1%;
    font-size: 80px;
}

h2 {
    font-family: 'DM Sans';
    padding-top: 2%;
    font-size: 40px;
}

p {
    font-family: 'TT Chocolates';
    font-size: 130%;
}

.Author {
    position: relative;
    padding: 1.5%;
    text-decoration-line: underline;
    font-family: 'DM Sans';
}

.PageUp { 
    position: fixed;
    bottom: 0;
    right: 0;
    width: 78px;
    border: 6px solid #737373;
    font-family: 'DM Sans';
    background-color: #a5a5a5;
    
}

#BackUp {
    padding: 2px;
    text-decoration: none;
    color: black;
}
