/*****************************************************************************
*  CSS stylesheet software.hmtl
*
*
* Author: Dennis Grellmann
* Created: 14/5
*****************************************************************************/


header img {
    float: left;
    width: 50%;
    padding: 1.6rem;
    height: 40rem;
    object-fit: cover;
}

/*Article Body*/
article {
    padding-right: 1.6rem;
}
